<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz dos EPI's</title>
</head>
<body>

    <div id="loader" style="background-color: #EFEFEF; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 999;"></div>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Quiz dos EPI's</h1>
                            <div class="andamento" v-if="indice >= 0">
                                <strong class="text-primary">{{ nome }}</strong>
                                <small>{{ indice + 1 }} / {{ perguntas.length }}</small>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="wrap-inicio" v-if="indice < 0 && !finalizado" v-on:keyup.enter = "comecar()">
                                <h3>Seja bem vindo(a) ao QUIZ sobre EPI's.</h3>
                                <h4>Antes de começar, por favor diga o seu nome.</h4>
                                <p>
                                    <div class="form-group" v-bind:class="{ 'has-error' : !nomeValido, 'has-success' : nomeValido }">
                                        <input type="text" class="form-control input-lg" placeholder="Digite seu nome" v-model="nome">
                                        <span id="helpBlock2" class="help-block">Preencha no mínimo 3 caracteres.</span>
                                    </div>
                                    <button class="btn btn-success btn-block btn-lg" v-on:click="comecar()">Começar</button>
                                </p>
                            </div>

                            <div class="wrap-perguntas" v-if="indice >= 0 && !finalizado">
                                <h4>{{ perguntas[indice] }}</h4>
                                <ul>
                                    <li v-for="(opcao, index) in opcoes[indice]">
                                        <label>
                                            <input type="radio" name="opcao" :value="index" v-on:click="salvarResposta(indice, index)">
                                            {{ opcao }}
                                        </label>
                                    </li>
                                </ul>
                                <div class="clearfix">
                                    <div class="form-group">
                                        <button class="btn btn-success pull-right" v-on:click="proximaPergunta()">Próxima pergunta</button>
                                    </div>
                                </div>
                            </div>

                            <div class="wrap-final" v-if="finalizado">
                                <h3>Parabéns, {{ nome }}! Você acabou o QUIZ.</h3>
                                <h4>Sua nota é: {{ nota }}.</h4>
                                <h4>Confira abaixo as respostas:</h4>

                                <div v-for="(pergunta, id_pergunta) in perguntas" class="item-pergunta">
                                    <h5>{{ pergunta }}</h5>
                                    <ul>
                                        <li v-for="(opcao, index) in opcoes[id_pergunta]" v-bind:class="{ 'bg-success text-success' : index == gabarito[id_pergunta], 'bg-danger text-danger' : index == respostas[id_pergunta] && index != gabarito[id_pergunta]}">
                                            {{ opcao }}
                                        </li>
                                    </ul>
                                </div>

                                <div class="feedback-final">
                                    <div class="alert alert-danger text-center" v-show="nota <= 30">
                                        Melhor estudar mais antes de ir ao laboratório.
                                    </div>

                                    <div class="alert alert-warning text-center" v-show="nota > 30 && nota <= 60">
                                        Pode ir ao laboratório, mas cuidado para não ter problemas.
                                    </div>

                                    <div class="alert alert-success text-center" v-show="nota > 60">
                                        Parabéns! Todo equipado e com essas informações é seguro ir ao laboratório.
                                    </div>
                                </div>

                                <div class="clearfix">
                                    <div class="form-group">
                                        <button class="btn btn-success pull-right" v-on:click="novoTeste()">Novo teste</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer text-center">Química I – Agronomia – Universidade Federal de Pelotas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/app.js"></script>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</body>
</html>